@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="me-auto p-2 navbar-brand">Rhz Home</div>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"><i class="fas fa-home"></i></span> Home
        </NavLink>
        <NavLink class="nav-link" href="about">
            <span aria-hidden="true"><i class="fas fa-info-circle"></i></span> About
        </NavLink>
        <NavLink class="nav-link" href="documents">
            <span aria-hidden="true"><i class="fas fa-list"></i></span> Document List
        </NavLink>
        <NavLink class="nav-link" href="Contact">
            <span aria-hidden="true"><i class="fas fa-envelope"></i></span> Contact
        </NavLink>
    </div>
    <div class="content px-4">
        @Body
    </div>
    <footer>
        <div class="rh-footer">
            &copy; Copyright @DateTime.Now.Year, Richard Hernandez. Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
        </div>
    </footer>
</div>
