@inherits DocumentRowBase

    <div class="card card-body bg-light">
        <div class="card-body">
            <div class="row">
                <a type="button"  @onclick="GetDocument"> <h3 class="rhz-button card-title">@Document.Caption</h3></a>
            </div>
            <div class="card-text row">@Document.Preview</div>
            <div class="row">
                <span class="oi oi-clock" aria-hidden="true">&nbsp&nbsp</span> @Document.PublishedOn.ToLongDateString()
                &nbsp&nbsp<span class="oi oi-bell" aria-hidden="true">&nbsp&nbsp</span> Updated on @Document.UpdatedOn.ToLongDateString()
            </div>
        </div>
    </div>