@inherits SkillsDialogBase

@if (ShowDialog)
{
<div class="modal fade show d-block" id="skillsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog rh-style-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">Skills Summary</h5>
                <button type="button" class="close" data_dismiss="modal" @onclick="Close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    @((MarkupString)SkillsData)
                </p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal"  @onclick="Close">Close</button>
                
            </div>
        </div>
    </div>
</div> 
}