@page "/documents"
@inherits DocumentListBase
@using RhzHome01.Client.Components
<div class="rh-masthead" id="content" role="main">
    <div class="container">
        @if (Documents == null)
        {
        <div class="rh-spinner">
            <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Medium" />
        </div>
        }
        else
        {
            <div class="row">
                <h1>Documents</h1>
            </div>
            <div class="row">
                <div class="col-md-8">
                    @foreach (var doc in Documents)
                    {
                        <DocumentRow Document="doc"></DocumentRow>
                    }
                </div>
                <div class="col-md-4 rh-sidebar" role="navigation">
                    <div class="card card-body bg-light">
                        <LinkList LinkData="InterestingLinks" Title="Interesting Links"></LinkList>
                        <LinkList LinkData="DotNetLinks" Title=".Net Links"></LinkList>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

