@page "/documents/{Key}"
@using RhzHome01.Client.Services.Interfaces
    <div class="rh-masthead" id="content" role="main">
        <div class="container">
            @if (Text == null)
            {
            <div class="rh-spinner fa-3x">
               <i class="fas fa-spinner fa-spin"></i>
            </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-8">
                        @((MarkupString)Text)
                    </div>
                </div>

            }
        </div>
    </div>

    
