@page "/documents/{Key}"
@inherits DocumentBase
@using RhzHome01.Client.Services.Interfaces
@inject IRhzViewData ViewDataService
    <div class="rh-masthead" id="content" role="main">
        <div class="container">
            @if (Text == null)
            {
                <p><em>Loading...@Key</em></p>
            }
            else
            {
                <div class="row">
                    <div class="col-md-8">
                        @((MarkupString)Text)
                    </div>
                </div>

            }
        </div>
    </div>

    
