@page "/"
@inherits IndexBase
@using RhzHome01.Client.Components
@if (HeroData == null)
{
    <div class="rh-masthead" id="content" role="main">
        <div class="container">
            <p><h3>@LoadingMessage</h3></p>
        </div>
    </div>
}
else
{
    <div class="rh-masthead" id="content" role="main">
        <div class="container">
            <h1>@MainTitle</h1>
            <p>
                <a type="button" class="btn btn-outline-light" @onclick="ShowSkillSummary">Skill Summary »</a>
            </p>
            <p class="lead">
                @((MarkupString)HeroData)
            </p>

        </div>
    </div>
    <SkillsDialog @ref="SkillsDialog"></SkillsDialog>
}


